.active {
  display: block;
}

.order-page {
  min-width: 850;
  max-width: 1500px;
  width: 80vw;
  display: flex;
  flex-flow: column wrap;
}

.order-items-quantity {
  font-size: xx-large;
  padding-left: 40px;
  padding-right: 20px;
  width: 50px;
}

.order-items-price {
  display: flex;
  justify-content: center;
  width: 200px;
}

.order-line-item-box {
  align-items: center;
  border: solid black 1px;
  display: flex;
  flex-flow: row nowrap;
  max-width: 900px;
  min-width: 400px;
  padding: 10px;
}

.order-line-item-content {
  display: flex;
  flex-flow: column nowrap;
}

.order-line-item-inner-box {
  display: flex;
  flex-flow: row nowrap;
}

.order-line-item-name {
  margin: 0;
  padding: 0;
  width: 40vw;
  max-width: 500px;
  min-width: 250px;
}

.order-line-items {
  display: flex;
  flex-flow: column nowrap;
}
