.order-page {
  min-width: 850;
  max-width: 1500px;
  width: 80vw;
  display: flex;
  flex-flow: column wrap;
}

.order-item-quantity {
  font-size: xx-large;
  width: 50px;
}

.order-line-item-name {
  margin: 0;
  padding: 0;
  width: 40vw;
  max-width: 500px;
  min-width: 250px;
}

.order-line-item-box {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  max-width: 900px;
  min-width: 400px;
}

.order-line-item-content {
  display: flex;
  flex-flow: column nowrap;
}

.order-line-item-inner-box {
  display: flex;
  flex-flow: row nowrap;
}

.order-item-price {
  display: flex;
  justify-content: center;
  width: 200px;
}

.active {
  display: block;
}
