.deal {
  margin: 1px;
  width: 200px;
  height: 200px;
  position: relative;
  &:hover {
    .deals-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
    }
    .details {
      display: block;
      color: white;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
  cursor: pointer;
}

.deal-text {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.deals-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3%;
  padding: 3%;
  position: relative;
  width: 80%;
  min-width: 768px;
  max-width: 1000px;
}

.deals-img {
  position: absolute;
  margin: 1px;
  height: 200px;
  width: 200px;
}

.deals-text {
  margin: 0;
  width: 150px;
}
