.active-item {
  display: block;
}

.items {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.menu-item {
  background: none;
  border: none;
  font-size: larger;
  margin: 0;
  padding: 20px 90% 10px 40px;
}

.menu-description {
  padding: 0 0 20px 60px;
}

.menu-item:hover {
  background: lightgrey;
}

.none {
  display: none;
}
