.author {
  background-color: black;
  color: white;
  margin: 0;
  text-align: center;
}

.site-map {
  background-color: lightgray;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}
