@import '../../../app';

.button {
  font: inherit;
  cursor: pointer;
  border: 1px solid $pink-red;
  border-radius: 4px;
  background: $pink-red;
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    background: $pink;
    border-color: $pink;
  }
  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
}

.button--inverse {
  background: transparent;
  color: $pink-red;
  &:hover,
  &:active {
    color: white;
    background: $pink-red;
  }
}

.button--danger {
  background: $dark-red;
  border-color: $dark-red;
  &:hover,
  &:active {
    background: $light-pink;
    border-color: $light-pink;
  }
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
