.order-form {
  padding: 0.5rem;
  height: 60vh;
  overflow-y: scroll;
}

.order-form fieldset {
  border: 0;
  margin: 0;
}

.order-form legend {
  font: inherit;
  font-size: xx-large;
  text-align: center;
}
