.active-item {
  display: block;
}

.items {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: fit-content;
  align-items: center;
}

.li-inner {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &:hover {
    background: lightgrey;
  }
}

.list-item {
  width: 100%;
}

.menu-item {
  background: none;
  border: none;
  font-size: larger;
  margin: 0;
  padding: 20px 0 10px 40px;
  text-align: left;
  width: 100%;
}

.menu-description {
  padding: 0 0 20px 60px;
}

.none {
  display: none;
}
