.order-page {
  min-width: 850;
  max-width: 1500px;
  width: 80vw;
  display: flex;
  flex-flow: column wrap;
}

.order-line-item-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.order-line-item-inner-box {
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
}

.options-display {
  display: none;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.31);
  left: 150px;
  top: 60px;
}

.active {
  display: block;
}
