$green: green;
$red: red;
$blue: rgb(0, 119, 255);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 768px;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: black;
}

.link {
  color: $red;
  &:hover {
    color: $green;
  }
}

hr {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: calc(100vh - 247px);
  min-height: fit-content;
  min-width: fit-content;
}
