$green: green;
$red: red;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 940px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: black;
}

.link {
  color: $red;
  &:hover {
    color: $green;
  }
}

hr {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
