$green: rgb(0, 128, 0);
$red: rgb(255, 0, 0);
$pink-red: rgb(255, 0, 85);
$dark-red: rgb(131, 0, 0);
$pink: rgb(255, 67, 130);
$light-pink: rgb(243, 67, 67);
$blue: rgb(0, 119, 255);
$off-white: rgb(248, 248, 248);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 768px;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: black;
}

.link {
  color: $pink-red;
  &:hover {
    color: $green;
  }
}

hr {
  margin: 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: calc(100vh - 247px);
  min-height: fit-content;
  min-width: fit-content;
  background-color: $off-white;
}

.faicon {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50px + 10%);
  left: 0;
  right: 0;
  color: $blue;
}
