@import '../../../_app.scss';

.checkout {
  position: relative;
}

.circle {
  position: absolute;
  z-index: 1;
  bottom: 6px;
  left: 7px;
}

.number {
  position: absolute;
  z-index: 3;
  bottom: -18px;
  left: 12px;
  color: white;
}

.register {
  position: absolute;
  z-index: 2;
  bottom: -8px;
}

.header {
  box-shadow: 1px 1px 7px;
  display: flex;
}

.menu-bar {
  background-color: $red;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
}

.title {
  background-color: $green;
  color: white;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  width: 5rem;
}

a {
  color: white;
  font-weight: bolder;
  text-decoration-line: none;
  &:hover {
    color: black;
  }
}

.nav-li {
  margin: auto 4rem;
  padding: 1rem;
}

ul {
  margin: 0;
}
